.left-nav{
   background: none repeat scroll 0 0 #F1F1F1;
    bottom: 20px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 250px;

}
.wrapper{
background:#404040;


}

.left-nav ul li a{
padding:10px 20px;
display:block;
color:#404040;
font-size:14px;
}
.left-nav ul li:first-child a{
padding-top:20px;
}
.left-nav ul li a:hover,.left-nav ul li a.active{

background:#d4d4d4 url(../images/v_navi_arrow.png) no-repeat right center;
text-decoration:none;
}

.display-div{
margin-left:270px;
background:#fff;
border-radius:4px;
height:500px;

}

.html-code-display,.CSS-display{
background:#F1F1F1;
width:479px;
height:350px;

margin:20px 10px 20px 20px;
float:left;
border:1px solid #c8c8c8;
border-radius:4px;
}
.CSS-display{
margin-right:20px;
}
.code-div-wrapper{
margin-left:270px;
background:#fff;
border-radius:4px;
margin-top:20px;

}

h3.label {
    background: none repeat scroll 0 0 #A1CF32;
    border-radius: 0 4px 4px 0;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 6px 10px;
    text-transform: uppercase;
}
.output-display{
	height: 450px;
    margin: 50px 88px;
    overflow: auto;
    width: 942px;
	position: relative;
}
.output-display1{
   -moz-tab-size: 6;
    color: #3E4549;
    font-family: arial;
    font-size: 12px;
    height: 300px;
    line-height: 2.4;
    margin-top: 50px;
    overflow: auto;
    white-space: pre;
}