
body {
    background: none repeat scroll 0 0 #Fff;
    color: #404040;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
    margin:50px;
    padding: 0;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    color: #3497CA;
    outline: medium none;
    text-decoration: none;
}
a img {
    border: medium none;
    outline: medium none;
    text-decoration: none;
}
h1 {
    font-size: 23px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h2 {
    color: #000000;
    font-size: 19px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h3 {
    color: #404040;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
hr {
    margin: 0;
}
input[type="text"], textarea {
    border: 1px solid #c8c8c8;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-family: Arial,Helvetica,Sans-serif !important;
    font-size: 13px;
    height: 19px;
    padding: 10px;
}

table tr td input, textarea {
    font-family: Arial,Helvetica,Sans-serif !important;
}
input.small {
    width: 125px;
}
textarea.small {
    max-width: 200px;
    width: 200px;
}
textarea.large {
    max-width: 208px;
    width: 208px;
}
input[type="checkbox"], input[type="radio"] {
    height: 12px;
}
textarea {
    height: 60px;
}
.customlabel {
    margin-top: 1px;
    width: 140px;
}
.uppercase {
    text-transform: uppercase;
}
.clearall {
    clear: both;
}
.pointer {
    cursor: pointer;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.display-inline {
    display: inline-block;
}
.display {
    display: block;
}
.display-none {
    display: none;
}
.bold {
    font-weight: bold !important;
}
.margin-top-3 {
    margin-top: -3px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-5 {
    margin: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-right-20 {
    margin-right: 20px;
}
.margin-10 {
    margin: 10px;
}
.margin-20 {
    margin: 20px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-right-10 {
    padding-right: 10px;
}

.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-right-20{
padding-right:20px;
}
.padding-left-20{
padding-left:20px;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-right-5 {
    padding-right: 5px;
}
.padding-5 {
    padding: 5px !important;
}
.underline {
    text-decoration: underline;
}
.border-right {
    border-right: 1px solid #D4D4D4;
}
.border {
    border: 1px solid #D4D4D4;
}
.border-bottom {
    border-bottom: 1px solid #D4D4D4;
}
.border-top {
    border-top: 1px solid #D4D4D4;
}
.radius5 {
    border-radius: 5px 5px 5px 5px;
}
.font-14{
font-size:14px;
}
.bold{
font-weight:bold;
}
.full-width{
width:100%;
}
.clearfix:after,.clearfix:before {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix:after,.clearfix:before {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

html[xmlns] .clearfix {
	display: block;
}
.blue-txt {
    color: #3497CA !important;
}
.placeholder{
color: #9D9D9D !important;
}

.green-btn, .dark-grey-btn, .blue-btn-small {
    background: none repeat scroll 0 0 #16A517 !important;
    border: 1px solid #16A517;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-weight: bold;
    min-width: 80px;
    padding: 9px 13px;
    text-align: center;
}
.btn-set a.grey-btn, .btn-set a.blue-btn, .btn-set a.green-btn, .btn-set a.white-btn, .blue-btn {
    background: url("../images/btn-bg.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #C6C6C6;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 3px -2px #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    min-width: 100px;
    padding: 9px;
    text-align: center;
}

.btn-set a.blue-btn {
    background: none repeat scroll 0 0 #3496CB;
    color: #FFFFFF;
}
.btn-set a.white-btn {
    background: none repeat scroll 0 0 #FFFFFF !important;
    color: #4E4E4E;
}
.link-btn {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 5px 5px 5px 5px;
    color: #3096CB;
    font-weight: bold;
    padding: 5px 7px 7px;
}
.link-btn:hover,.link-btn-active {
	color: #FFF !important;
	background: #3497ca !important;
	border: 1px solid #3497ca;
}

/*progress btn*/


.prev-move-arrow-green {
    background: url("../images/btn-grey-left.png") no-repeat scroll left top transparent;
    height: 32px;
    padding-left: 26px;
    position: relative;
    text-decoration: none;
	line-height:15px;
}

.prev-move-arrow-green {
    background: url("../images/btn-green-left.png") no-repeat scroll left top transparent;
}
.prev-move-txt-green {
    background: none repeat scroll 0 0 #16A517;
    border-bottom: 1px solid #16A517;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #16A517;
    border-top: 1px solid #16A517;
    color: #FFFFFF;
    padding: 8px 30px 7px 0;
}
 .next-move-arrow-green {
    background: url("../images/btn-grey-right.png") no-repeat scroll right top transparent;
    height: 32px;
    padding-right: 26px;
    position: relative;
    text-decoration: none;
	line-height:15px;
}

.next-move-arrow-green {
    background: url("../images/btn-green-right.png") no-repeat scroll right top transparent;
}

.next-move-txt-green {
    background: none repeat scroll 0 0 #16A517;
    border: medium none #16A517;
    border-radius: 4px 0 0 4px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    padding: 9px 6px 8px 30px;
}
ul.button-drop-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-radius: 0 4px 0 4px;
    border-right: 1px solid #D4D4D4;
    box-shadow: 0 1px 1px 0 #777777;;
    left: 0;
    position: absolute;
    top: 34px;
    font-size:12px;
    width: 100%; min-width:125px;z-index: 200;
}


ul.button-drop-list li {
    cursor: pointer;
    padding: 8px 10px;
    color:#404040;
}
ul.button-drop-list li:hover {
    background: none repeat scroll 0 0 #3497CA;
    color: #FFFFFF;
}
.pop-up-btn {
    background: url("../images/popup-btn-bg.jpg") repeat-x scroll 0 0 #F2F2F2;
    border-left: 1px solid #F1F1F1;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #F1F1F1;
    box-shadow: 0 1px 1px 0 #7B7B7B;
    color: #404040;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 53%;
}

.white-drop {
    background: url("../images/white-down-arrow.png") no-repeat scroll right center transparent !important;
    display: block;
    height: 10px;
    position: absolute;
    top: 11px;
    width: 30px;
}
.process-btn-set{
    width:307px;
}
